.nav{
    text-align: left;
}

.nav-link{
    font-size: 1.25rem;
}

.navlink{
    width: fit-content;
    border-radius: 2rem;
}

.navlink:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-item{
    padding-top: 0.75rem;
}